{% extends '../layout.html' %}
{% block title %} index {% endblock %}
{% block head %}
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/productline-css/product series overview.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/iconfont.css">

{% endblock  %}
{% block content %}



    <!-- 头部组件 -->
    {% include "../header.html" %}
    <!-- 主体 -->
    <div class="main">
    	
    	<div class="bgi1 bgcommon">
			<h3>臻爱铂金</h3>
			<p>至臻焕颜新生</p>
			<input type="button" value="了解我们的产品系列">
		</div>
		<div class="bgi2 bgcommon">
			<h3>鱼子精华</h3>
			<p>提升和紧致</p>
			<input type="button" value="了解我们的产品系列">
		</div>
		<div class="bgi3 bgcommon">
			<h3>鱼子精华纯皙</h3>
			<p>亮白紧致</p>
			<input type="button" value="了解我们的产品系列">
		</div>
		<div class="bgi4 bgcommon">
			<h3>晶莹亮采</h3>
			<p>焕活和修复</p>
			<input type="button" value="了解我们的产品系列">
		</div>
		<div class="bgi5 bgcommon">
			<h3>亮颜修护</h3>
			<p>抗皱</p>
			<input type="button" value="了解我们的产品系列">
		</div>
		<div class="bgi6 bgcommon">
			<h3>瑞士冰晶新生系列</h3>
			<p>初期抗老</p>
			<input type="button" value="了解我们的产品系列">
		</div>
    	<div class="huiyuan">
			<div class="huiyuan-content">
				<p class="p1">尊享会员优惠</p>
				<p class="p2">输入您的电子邮件地址，订阅品牌资讯</p>
				<span >电子邮件*</span>
				<input type="text" name="" id="" class="email">
				<a href=""><input type="button" value="下一页"></a>
				<input type="checkbox" name="" id=""><p class="p3">我愿意订阅莱珀妮品牌资讯，了解最新产品和活动信息</p>
			</div>
		</div>
    	
    	
    	
    	
    	
    	
    	
    	
    </div>
    <!-- 尾部组件 -->
    {% include "../footer.html" %}
    
<script src="../js/lib/jquery-3.2.1.min (1).js"></script>
<script src="../js/header.js"></script>
<script src="../js/productline-js/product series overview.js"></script>
{% endblock %}

