html,body{
    background: #2f3335;
}


.main{
    position: relative;
   
    .login{
        position: relative;
        width: 100%;
        height: 133px;
        background: #252629;
        text-align: center;
        line-height: 133px;
        color: #ffffff;
        span{
            font-size: 50px;
        }
    }
    .login-content{
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        background: #2f3335;
        dl{
            position: absolute;
            top:86px;
            
            width: 655px;  
                  
            dt{
                height: 77px;
                line-height: 77px;
                .line{
                    width: 655px;
                    height: 1px;
                    background: #4e5153;
                }
                a{
                    position: relative;
                    
                    left:21px;
                    font-size: 23px;
                }
            

            } 


            
            dd{
                position: relative;
                top:0;
                left:0;
               -webkit-margin-start: 0;
            }
            .dd1{

                width: 655px;
                height: 406px;
                ul{
                    li{
                        a{
                            position: relative;
                            top:10px;
                            letter-spacing: 2px;
                            color: #969696;
                            font-size: 16px;
                        }
                        #siginin{
                            position: absolute;
                            top:330px;
                            left:208px;
                            background: #626566;
                            color:#ffffff;
                            width: 245px;
                            height: 40px;
                            border: none;
                            outline:none;
                            font-size: 18px;
                            &:hover{
                                background: #56595b;
                            }
                        }
                    }
                    .dd1-li1{
                        position: relative;
                        left:166px;
                        font-size: 13px;
                        color:#8a8a8a;
                        .line{
                            position: relative;
                            left:-145px;
                            top:45px;
                            width: 610px;
                            height: 1px;
                            background: #4e5152;
                            
                        }
                    }
                    .dd1-li2{
                        position: relative;
                        color:#8a8a8a;
                        top:45px;
                        left:21px;
                        height: 63px;
                        line-height: 63px;
                        
                        a{
                            font-size: 21px;    
                        }
                        input{
                            position: relative;
                            left:0px;
                            top:-52px;
                            width: 610px;
                            height: 24px;                               
                            background:transparent;
                            border:none;
                            outline: none;
                        }
                        .line{
                            position: relative;
                            left:0px;
                            top:0px;
                            width: 610px;
                            height: 1px;
                            background: #4e5152;
                            
                        }
                    }
                    .dd1-li3{
                        position: relative;
                        left:21px;
                        width: 610px;
                        color:#8a8a8a;
                        a{
                            font-size: 21px;   
                        }
                        input{
                            position: relative;
                            left:0px;
                            top:0px;
                            width: 610px;
                            height: 24px;                               
                            background:transparent;
                            border:none;
                            outline: none;
                        }

                    }
                    div{
                        #remember{
                            display: block;
                            position: relative;
                            top: 50px;
                            left:18px;
                            transform: scale(1.5);
                        
                            
                        } 
                        .span1{
                            font-size: 21px;
                            position: absolute;
                            top:245px;
                            left:50px;
                            color:#ffffff;
                        } 
                        .span2{

                            font-size: 18px;
                            position: absolute;
                            top:245px;
                            left:550px;
                            color:#ffffff;

                        }

                    }
                   
                                      
                }
            }
            .dd2{
                position: relative; 
                width: 655px;
                height: 1134px;
                span{
                    font-size:19px;
                    color:#ffffff;
                    position: absolute;
                    top:3px;
                    left:41px;

                }
                .line{
                    position: absolute;
                    left:20px;
                    width: 610px;
                    height: 1px;
                    background: #4e5152;

                }
                .line1{
                    top:112px;
                   
                }
                .line2{
                    top:176px;
                }
                .line3{
                    top:248px;
                }
                .line4{
                    top:344px;
                }
                .line5{
                    top:415px;
                }
                .line6{
                    top:492px;
                }
                .line7{
                    top:492px;
                }
                .line8{
                    top:588px;
                }
                .line9{
                    top:638px;
                }
                .line10{
                    top:708px;
                }
                .line11{
                    top:778px;
                }
                .dropdown{
                   
                    position: absolute;
                    width: 611px;
                    height: 83px;
                    left:21px;
                    top:112px;
                    font-size: 22px;
                    background: transparent;
                    color:#ffffff;
                    overflow: hidden;
                    outline: none;
                    border: none;
                    
                    

                }
                .name{
                    position: absolute;
                    font-size: 22px;
                    left:29px;
                    top:202px;
                    color:#7d7d7e;
                }
                .shoujihao{
                    position: absolute;
                    font-size: 22px;
                    left:29px;
                    top:270px;
                    color:#7d7d7e;
                }
                .yanzhengma{
                    position: absolute;
                    font-size: 22px;
                    left:29px;
                    top:370px;
                    color:#7d7d7e;
                }
                input{
                    position: absolute;
                   
                    left:29px;
                  
                    color:#7d7d7e;
                    width: 610px;
                    height: 40px;                               
                    background:transparent;
                    border:none;
                    outline: none;
                    
                }
                .text-name{
                    top:206px;
                }
                .text-shoujihao{
                    top:303px;
                }
                .text-yanzhengma{
                    top:370px;
                }
                .getyanzhengma{

                    position: absolute;
                    top: 436px;
                    left: 208px;
                    background: #626566;
                    color: #ffffff;
                    width: 245px;
                    height: 40px;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    &:hover{
                        background: #56595b;
                    }

                }
                .email{
                    position: absolute;
                    font-size: 20px;
                    left:29px;
                    top:515px;
                    color:#7d7d7e;
                }
                .text-email{
                    position: absolute;
                    
                    left:29px;
                    top:510px;
                    color:#7d7d7e;

                }
                .dianjilianjie{
                    position: absolute;
                    font-size: 20px;
                    left:29px;
                    top:563px;
                    color:#ffffff;



                }
                .common-text{

                    position: absolute;
                    font-size: 20px;
                    left:29px;
                   
                    color:#7d7d7e;

                }
                 .confirmemail{
                    top:603px;
                 }  
                .text-confirmemail{
                    top:596px;
                }
                .loginmima{
                    top:661px;
                }
                .text-loginmima{
                    top:665px;
                }
                
                .confirmmima{
                    top:735px;
                }
                .text-confirmmima{
                    top:736px;
                }            
                .years{
                    
                    position: absolute;
                    top:786px;
                    left:29px;
                    color:#7d7d7e;
                    width:196px;
                    height : 574px;
                }
                #years{
                    display: none;
                    left:17px;
                    color:#ffffff;
                    font-size: 20px;
                }
                #months{
                    display: none;
                    left:320px;
                    color:#ffffff;
                    font-size: 20px;

                }
                #dates{
                    display: none;
                    left:610px;
                    color:#ffffff;
                    font-size: 20px;

                }
                .months{

                    position: absolute;
                    top:786px;
                    left:313px;
                    color:#7d7d7e;
                    width:196px;
                    height : 574px;

                }
                .dates{
                    position: absolute;
                    top:786px;
                    left:613px;
                    color:#7d7d7e;
                    width:196px;
                    height : 574px;

                }
                .times{
                    position: absolute;
                    top:810px;
                    color:#7d7d7e;
                    border: none;
                    outline: none;
                    background: transparent;
                


                }
                #checkbox1{
                    position: absolute;
                    top:839px;
                    left:175px;
                    transform: scale(1.5);
                }
                #checkbox2{
                    position: absolute;
                    top:916px;
                    left:175px;
                    transform: scale(1.5);
                }

                .wenzi1{
                    position: absolute;
                    top:850px;
                    left:56px;
                    
                }
                .wenzi2{
                    position: absolute;
                    top:928px;
                    left:56px;
                    
                }
                .zhuce{
                    position: absolute;
                    top: 1020px;
                    left: 208px;
                    background: #626566;
                    color: #ffffff;
                    width: 245px;
                    height: 40px;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    &:hover{
                        background: #56595b;
                    }
                }

            }
            .dd3{
                display: block;
                position: relative;
                width: 655px;
                height: 214px;
                .line{
                    position: absolute;
                    top:-2px;
                    left:20px;
                    width: 610px;
                    height: 1px;
                    background: #4e5152;


                }
                .yundanhao{
                    position: absolute;
                    font-size: 20px;
                    left:20px;
                    top:18px;
                    color:#7d7d7e;
                }
                .jixu{
                    position: absolute;
                    top: 100px;
                    left: 20px;
                    background: #626566;
                    color: #ffffff;
                    width: 245px;
                    height: 40px;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    &:hover{
                        background: #56595b;
                    }


                }
            }
            .dt4{
               position: relative;
               width: 1425px;
               height: 329px;
               background: url(../imgs/index-imgs/background01.png);
               background-position: 50% 50%;
               margin-left: -383px;
               text-align: center;
               background-size: cover;
               background-repeat: no-repeat;
               h2{
                   display: block;
                width: 100%;
                height: 137px;
                  position: absolute;
                    font-size: 37px;
                    color: #ffffff;
                  span{
                      position: absolute;
                      top:90px;
                      left:calc(50% - 140px);
                  }
               }
                //    #span1,#span2{
                //     color: #dcdcdc;
                //    }
            

                .icon-phone,#span1{
                    position: absolute;
                    top:170px;
                    left:calc(50% - 140px);
                    color: #969696;
                }
               
                .icon-youjian,#span2{
                    position: absolute;
                    top:220px;
                    left:calc(50% - 140px);
                    color: #969696;
                }
               

            }

        }
            .dt5{
                .footer{
                    width: 1425px;
                    margin-left: -383px;
                    .payattention {
                        
                        .payattention-content {
                            top:20px;
                            span{
                                top:0;
                            }

                        }


                    }
                    .line{
                        width: 1425px;
                    }
                    .shuoming{
                        top:0;
                    }
                }  

            }
               
        }

}
